

<div class="movie_main">
  <div class="movie_carousel_wrapper">

    <h1 class="margin_top_75">New Releases</h1>
    <div class="wrapper">
      <section id="section1">
        <a href="#section3" class="arrow__btn left-arrow">‹</a>
        <div class="item" *ngFor="let movie of moviesSection1;">
          <a routerLink="/detail/{{movie.id}}" href="#">
            <img
              src="{{movie.mainPhotoPath}}"
              alt="Describe Image">
          </a>
        </div>
       
      <a href="#section2" class="arrow__btn right-arrow">›</a>
      </section>
    
      <section id="section2">
        <a href="#section1" class="arrow__btn left-arrow">‹</a>
        <div class="item" *ngFor="let movie of moviesSection2;">
          <a routerLink="/detail/{{movie.id}}" href="#">
            <img
            src="{{movie.mainPhotoPath}}"
              alt="Describe Image">
          </a>
        </div>
        <a href="#section3" class="arrow__btn right-arrow">›</a>
      </section>
    
      <section id="section3">
        <a href="#section2" class="arrow__btn left-arrow">‹</a>
        <div class="item" *ngFor="let movie of moviesSection3;">
          <a routerLink="/detail/{{movie.id}}" href="#">
            <img
            src="{{movie.mainPhotoPath}}"
              alt="Describe Image">
          </a>
        </div>
        <a href="#section1" class="arrow__btn right-arrow">›</a>
      </section>
    </div>
