<div class="py-5 text-left container">
    <div class="row py-lg-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3 text-center">Register</h4>
            <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
              <div class="row g-3">

                <div class="col-sm-12">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text" class="form-control" formControlName="firstName" required>
                  <div class="invalid-feedback" *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                    First Name is required.
                  </div>
                </div>
    
                <div class="col-sm-12">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" formControlName="lastName" required>
                  <div class="invalid-feedback" *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                    Last Name is required.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="userName" class="form-label">Username</label>
                  <input type="text" class="form-control" formControlName="userName" required>
                  <div class="invalid-feedback" *ngIf="f['userName'].touched && f['userName'].invalid" class="alert alert-danger">
                      Username is required.
                  </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" (change)="clearConfirmPassword()" required>
                    <div class="invalid-feedback" *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                      Your password is required.
                    </div>
                </div>

                <div class="col-12">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" formControlName="confirmPassword" required>
                  <div class="invalid-feedback" *ngIf="registrationForm.get('confirmPassword').errors?.mismatch" class="alert alert-danger">
                    Password Confirmation must match password
                  </div>
                </div>

              </div>
              <hr class="my-4">
              <button class="w-100 btn btn btn-dark btn-md" [disabled]="!registrationForm.valid" type="submit">Register</button>
            </form>
          </div>
    </div>
</div>