<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">RentMovieVanzApp</a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Top 20</a>
                </li>
                <ng-container *ngIf="(currentToken$ | async ) === null">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="(currentToken$ | async )">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/member">Member</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus">About Us</a>
                </li>
            </ul>
            
            <form *ngIf="(currentToken$ | async ) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input class="form-control me-2" name="username" [(ngModel)] = "userModel.username" type="text" placeholder="Username">
                <input class="form-control me-2" name="password" [(ngModel)] = "userModel.password" type="password" placeholder="Password">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            
            <div *ngIf="(currentToken$ | async )">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" dropdown>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" dropdownToggle routerLink="/member" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                            Welcome Vanz
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" *dropdownMenu>
                            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" (click)="logout()" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
  </header>